# {{ ansible_managed }}
version: '3'

services:

  vault:
    image: vault:{{ vault_version }}
    environment:
      VAULT_ADDR: http://localhost:{{ vault_port }}
    networks:
      - {{ traefik_docker_internal_network }}
      - {{ traefik_docker_external_network }}
    hostname: vault
    container_name: vault
    cap_add:
      - IPC_LOCK
    command: vault server -config=/etc/config.json
    volumes:
      - ./etc/config.json:/etc/config.json:ro
      - ./file:/vault/file
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vault.rule=Host(`{{ vault_domain }}`)"
      - "traefik.http.routers.vault.tls=true"
      - "traefik.http.routers.vault.tls.certresolver=le"
      - "traefik.http.routers.vault.entrypoints=https"
      - "traefik.http.routers.vault.service=vault"
      - "traefik.http.services.vault.loadbalancer.server.port={{ vault_port }}"
    restart: unless-stopped

networks:
  {{ traefik_docker_external_network }}:
    external:
      name: {{ traefik_docker_external_network }}
  {{ traefik_docker_internal_network }}:
    external:
      name: {{ traefik_docker_internal_network }}
