ADMIN_ACCESS_GROUP={{ SRAM_ADMIN_ACCESS_GROUP }}
PAM_VALIDATE_USERS=pam_sram_validate.so url={{ SRAM_URL }} token={{ SRAM_SERVICE_BEARER_TOKEN }} redis=redis
PAM_VALIDATE_USERS_ENTITLEMENT={{ PAM_VALIDATE_USERS_ENTITLEMENT }}
